{% extends 'base.html.twig' %}

{% block title %}Hello ConnexionController!{% endblock %}

{% block body %}
    <div class="connexion">
        <div class='container'>
        </div>
    </div>
{% endblock %}
