@font-face {
    font-family: "roboto";
    src: url(../../public/fonts/Roboto/static/Roboto_SemiCondensed-Regular.ttf);
}

body {
    font-family: 'roboto';
    background-color: white;
    margin: 0;
}