{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block body %}
    <main>
        <section>
            <div class='banner'>

            </div>
        </section>
    </main>
{% endblock %}
