{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block body %}
    <main>
        <section>
            <div class='banner'>
                <h1>Bienvenu dans la taverne des nains de Jardin !</h1>
            </div>
        </section>
        <section>
            <div  class="boucle">
                {% for nain in nains %}
                <div class="card">
                    <img src="" alt="">
                    <div>
                        <p>{{ nain.titre }}</p>
                        <p>{{ nain.description }}</p>
                        <p>{{ nain.taille }}</p>
                    </div>    
                </div> 
                {% endfor %}
            </div>
        </section>
    </main>
{% endblock %}
