    .banner{
        background-image: url('../../public/img/banner.png');
        height: 550px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h1{
            color: #249618;
            font-size: 50px;
        }
    }