 header{
        background-color: #249618;
        opacity: 80%;
        position: fixed;
        width: 100%;
        z-index: 1000;
        img{
            height: 80px;
            margin: 0;
            padding: 0%;
        }
        ul{
            display: flex;
            justify-content:space-evenly;
            align-items: center;
            margin-right: 80px;        
            li {
                list-style-type: none;
                a{
                    color: #F5F0F0;
                }
            }
        }
    }