    .inscription{
        display: flex;
        justify-content: center;
        align-items: center;
        .form-inscription{
            margin-top: 150px;
            margin-bottom: 520px;
        }
    }