@font-face {
    font-family: "roboto";
    src: url(../../public/fonts/Roboto/static/Roboto_SemiCondensed-Regular.ttf);
}
body{
    font-family: 'roboto';
    background-color: white;
    margin: 0;
    header{
        background-color: #249618;
        opacity: 80%;
        position: fixed;
        width: 100%;

        img{
            height: 80px;
            margin: 0;
            padding: 0%;
        }
        ul{
            display: flex;
            justify-content:space-evenly;
            align-items: center;
            margin-right: 80px;        
            li {
                list-style-type: none;
                a{
                    color: #F5F0F0;
                }
            }
        }
    }
    .banner{
        background-image: url('../../public/img/banner.png');
        height: 700px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h1{
            color: #249618;
            font-size: 50px;
        }

    }    
    .card{
        width: 22%;
        border-radius: 10px;
        background-size: cover;
        padding-bottom:100px ;
        text-align: left;
        position: relative;
        margin: 1%;
        box-shadow: 0px 5px 10px gray;
    }
    footer{
        background-color: #249618;
        margin: 0;
        display: flex;
        p{
            margin: 0;
        }
    }
}