{% extends 'base.html.twig' %}

{% block title %}Hello ForumController!{% endblock %}

{% block body %}
<div  class="boucle">
    {% for nain in nains %}
        <div class="card">
        <img src="{{ asset('uploads/images/' ~ nain.imageName) }}" alt="" class='import-bdd'>
            <div>
                <h2>{{ nain.titre }}</h2>
                <p>{{ nain.description }}</p>
                <p>{{ nain.taille }}</p>
            </div>    
        </div> 
    {% endfor %}
</div>
{% endblock %}
